email=florian.macherey@wetter.com
init.author.name=Florian Macherey
init.author.email=florian.macherey@wetter.com
//npm.pkg.github.com/:_authToken=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
@wettercom:registry=https://npm.pkg.github.com/
